name: CMake

on: [push]

jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        name: [linux-gcc]
        include:
          - name: linux-gcc
            os: linux
            cc: gcc
            cflags: ""
            linker_flage: ""
            doc_generate: yes
            build_type: Release
          - name: linux-gcc-asan
            os: linux
            cc: gcc
            cflags: "-fno-omit-frame-pointer -fsanitize=address"
            linker_flage: "-fno-omit-frame-pointer -fsanitize=address"
            doc_generate: no
            build_type: Debug
          - name: linux-gcc-ubsan
            os: linux
            cc: gcc
            cflags: "-fsanitize=undefined"
            linker_flage: ""
            doc_generate: no
            build_type: Debug
          - name: linux-clang
            os: linux
            cc: clang
            cflags: ""
            linker_flage: ""
            doc_generate: no
            build_type: Release
          - name: linux-clang-asan
            os: linux
            cc: clang
            cflags: "-fno-omit-frame-pointer -fsanitize=address"
            linker_flage: "-fno-omit-frame-pointer -fsanitize=address"
            doc_generate: no
            build_type: Debug
          - name: linux-clang-ubsan
            os: linux
            cc: clang
            cflags: "-fsanitize=undefined"
            linker_flage: ""
            doc_generate: no
            build_type: Debug

    steps:
    - uses: actions/checkout@v2

    - name: Install build-dependencies
      run: sudo add-apt-repository ppa:gladky-anton/sundials && sudo apt-get install build-essential libsundials-dev libhdf5-serial-dev libqt5opengl5-dev

    - name: Install doc-build-dependencies
      if: contains(matrix.doc_generate, 'yes')
      run: sudo apt-get install sphinx-common texlive-xetex

    - name: Create Build Environment
      run: cmake -E make_directory ${{github.workspace}}/build

    - name: Create Install Environment
      run: cmake -E make_directory ${{github.workspace}}/inst

    - name: Configure CMake
      shell: bash
      working-directory: ${{github.workspace}}/build
      run: cmake $GITHUB_WORKSPACE -DCMAKE_C_COMPILER=${{ matrix.cc }} -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -DCMAKE_C_FLAGS="${{ matrix.cflags }}" -DCMAKE_EXE_LINKER_FLAGS="${{ matrix.linker_flage }}"  -DCMAKE_INSTALL_PREFIX=${{github.workspace}}/inst

    - name: Build
      working-directory: ${{github.workspace}}/build
      shell: bash
      run: cmake --build . --parallel

    - name: Install
      working-directory: ${{github.workspace}}/build
      shell: bash
      run: make install

    - name: Test
      working-directory: ${{github.workspace}}/build
      shell: bash
      run: CTEST_OUTPUT_ON_FAILURE=1 make test

    - name: Docs
      if: contains(matrix.doc_generate, 'yes')
      working-directory: ${{github.workspace}}/build
      shell: bash
      run: make doc

    - name: Deploy
      if: contains(matrix.doc_generate, 'yes')
      uses: JamesIves/github-pages-deploy-action@4.1.4
      with:
        branch: gh-pages # The branch the action should deploy to.
        folder: ${{github.workspace}}/inst/share/Dyssol/docs/sphinx/html # The folder the action should deploy.